.user-button-wrapper {
  position: relative;
}

.user-button {
  --size: 2em;
  width: var(--size);
  height: var(--size);
  background-color: hsl(0 0% 60%);
  color: hsl(0 0% 100%);
  border-radius: 100vh;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.user-button:hover {
  background-color: hsl(0 0% 50%);
  transition: 150ms;
}

.dropdown {
  position: fixed;
}
